/* Header - Navbar*/

.nav__link__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__link {
  padding: 2rem;
}
.nav__link:hover {
  background-color: var(--Green-light);
  border-radius: 0.5rem;
}

/* Informacion */
.information__photo {
  width: 25%;
}
.information__info {
  width: 75%;
}
.information__info--name {
  font-size: 3.5rem;
}
.information__info--description {
  font-size: 2.2rem;
}
.curriculo__info {
  font-size: 1.8rem;
}

/* Sobre mí */

.about-me__container--title {
  font-size: 3.5rem;
}
.about-me__container--info {
  font-size: 2.2rem;
}