/* Elementos para varios lugares de la página */

.title {
  font-size: 3.5rem;
}
.info {
  font-size: 2rem;
}

/* Header - Navbar*/

.nav__link__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__link {
  padding: 2rem;
}
.nav__link:hover {
  background-color: var(--Green-light);
  border-radius: 0.5rem;
}

/* Informacion */
.information__photo {
  width: 25%;
}
.information__info {
  width: 75%;
}
.curriculo__info {
  font-size: 1.8rem;
}

/* Skills */

.skills-hobbies__card {
  width: 16.6%;
}

/* Educación */

.education__container--cards {
  width: 31%;
  margin: 1rem;
}
.education__container--card-year {
  font-size: 1.4rem;
}