/* Elementos para varios lugares de la página */

.button, .button__secondary {
  font-size: 1.8rem;
}
.title {
  font-size: 3.5rem;
}
.info {
  font-size: 1.8rem;
}
.subtitle {
  font-size: 2rem;
}

/* Header - Navbar*/

.nav__link__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__link {
  padding: 2rem;
}
.nav__link:hover {
  background-color: var(--Green-light);
  border-radius: 0.5rem;
}

/* Informacion */
.information__photo {
  width: 25%;
}
.information__info {
  width: 75%;
}
.curriculo__info {
  font-size: 1.8rem;
}

/* Skills */

.skills-hobbies__card {
  width: 16.6%;
}

/* Educación */

.education__container--cards {
  width: 31%;
  margin: 1rem;
}

/* Proyectos */

.projects__container {
  width: 90%;
}
.info__pages--button {
  font-size: 1.6rem;
}

/* Formulario */
.contact-form {
  width: 90%;
  margin: 6rem auto 0 auto;
}
.form-container {
  display: flex;
  justify-content: center;
}
.form-img__container {
  display: flex;
  justify-content: center;
  max-width: 46rem;
  overflow: hidden;
  margin-right: 2rem;
}
.form__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.form-info__container {
  max-width: 65rem;
  margin: 0;
}