:root {
  --primary-color: #111621;
  --secundary-color: #1e984b;
  --Green-light: #2ec866;
  --gray-color: #39424e;
  --gray-light: #b9b9b9;
  --black-color: #000000;
  --background: #edf0f1;
}

/*Elementos Globales*/

a {     
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  width: 100%;
  min-width: 320px;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  overflow: auto;
}

/* Elementos para varios lugares de la página */

.button {
  width: 20rem;
  padding: 1rem;  
  font-weight: 900;
  font-size: 1.8rem;
  background-color: var(--Green-light);
  border: none;
  border-radius: 0.8rem;
  color: var(--background);
}
.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 2.5rem;
}
.info {
  font-size: 1.6rem;
  text-align: justify;
  color: var(--gray-color);
}
.subtitle {
  font-size: 1.8rem;
  font-weight: 700;
}

/* Header - Navbar*/

.header {
  position: fixed;
  width: 100%;
  height: 7.5rem;
  background: var(--primary-color);
  color: var(--background);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  height: 100%;
  margin: 0 2rem;
}
.nav__logo {
  text-align: center;
}
.nav__logo--title{
  font-size: 1.6rem;
  font-weight:900;
  margin: 0;
  text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.8);
  color: var(--Green-light);
}
.nav__logo--concept {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.nav__logo--separator,
.nav__link__container,
.nav__media {
  display: none;
}
.nav__media--emailmovil {
  font-size: 1.2rem;
}

/* Información */

.main {
  width: 100%;
  padding-top: 7rem;
  text-align: center;
}
.information {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
.information__photo--img {
  width: 30rem;
}
.information__info {
  margin-top: 2rem;
}
.information__info--name span {
  color: var(--secundary-color);
}
.information__info--curriculo {  
  display: inline-block;
  margin-top: 3rem;
}
.curriculo__info {
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Sobre mí */

.about-me {
  margin: 6rem 0 5.5rem 0;
  padding: 1.5rem 0 13rem 0;
  background-color: var(--Green-light);
}
.about-me__container {
  width: 80%;
  margin: 3rem auto;
}
.about-me__container--title {
  text-align: start;
  color: white;
}
.about-me__container--info {
  color: white;
}
.about-me__img--source {
  width: 25rem;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

/* Skills */

.skills__main, .hobbies__main {
  width: 80%;
  margin: 0 auto;
  margin-top: 17.5rem;
}
.skills-hobbies__container {    
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  justify-content: center;
}
.skills-hobbies__card {
  width: 50%;
  padding: 0 1.5rem;
}
.skills-hobbies__card--img {
  height: 6rem;  
  margin-bottom: 0.5rem;
}
.skills-hobbies__card--info {
  margin-bottom: 4rem;
}

/* Hobbies */

.hobbies__main {
  margin-top: 2rem;
}

/* Educación */

.education {
  width: 100%;
  margin-top: 2rem;
}
.education__title {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 0;
}
.education__container {  
  display: flex;
  align-items: center;
  width: 80%;
  height: 12rem;
  margin: 0 auto;
  padding: 1.5rem;
  border: solid 0.2rem var(--gray-light);
  border-radius: 1rem;
}
.education__container--card-img {
  height: 100%;
  margin-right: 1.5rem;
}
.education__card--univesity {
  text-align: start;
}