:root {
  --primary-color: #111621;
  --secundary-color: #1e984b;
  --Green-light: #2ec866;
  --gray-color: #39424e;
  --gray-light: #b9b9b9;
  --black-color: #000000;
  --background: #edf0f1;
}

/*Elementos Globales*/

a {     
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  width: 100%;
  min-width: 320px;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  overflow: auto;
}

/* Elementos para varios lugares de la página */

.button, .button__secondary {
  width: 20rem;
  height: 4rem;
  padding: 1rem;  
  font-weight: 900;
  font-size: 1.8rem;
  background-color: var(--Green-light);
  border: none;
  border-radius: 1rem;
  color: var(--background);
}
.button:hover {
  cursor: pointer;
  background-color: var(--background);
  border: solid 0.2rem var(--Green-light);
  border-radius: 1rem;
  color: var(--Green-light);
}
.button__secondary {
  background-color: var(--background);
  border: solid 0.2rem var(--Green-light);
  border-radius: 1rem;
  color: var(--Green-light);
}
.button__secondary:hover{
  cursor: pointer;
  background-color: var(--Green-light);
  border: none;
  border-radius: 1rem;
  color: var(--background);
}
.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 2.5rem;
}
.info {
  font-size: 1.4rem;
  text-align: justify;
  color: var(--gray-color);
}
.subtitle {
  font-size: 1.6rem;
  font-weight: 700;
}

/* Header - Navbar*/

.header {
  position: fixed;
  width: 100%;
  height: 7.5rem;
  background: var(--primary-color);
  color: var(--background);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  height: 100%;
  margin: 0 2rem;
}
.nav__logo {
  text-align: center;
}
.nav__logo--title{
  font-size: 1.6rem;
  font-weight:900;
  margin: 0;
  text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.8);
  color: var(--Green-light);
}
.nav__logo--concept {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.nav__logo--separator,
.nav__link__container,
.nav__media {
  display: none;
}
.nav__media--emailmovil {
  font-size: 1.2rem;
}

/* Información */

.main {
  width: 100%;
  padding-top: 7rem;
  text-align: center;
}
.information {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
.information__photo--img {
  width: 30rem;
}
.information__info {
  margin-top: 2rem;
}
.information__info--name span {
  color: var(--secundary-color);
}
.information__info--curriculo {  
  display: inline-block;
  margin-top: 3rem;
}
.curriculo__info {
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Sobre mí */

.about-me {
  margin: 6rem 0 5.5rem 0;
  padding: 1.5rem 0 13rem 0;
  background-color: var(--Green-light);
}
.about-me__container {
  width: 80%;
  margin: 3rem auto;
}
.about-me__container--title {
  text-align: start;
  color: white;
}
.about-me__container--info {
  color: white;
}
.about-me__img--source {
  width: 25rem;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

/* Skills y Hobbies */

.skills__main, .hobbies__main {
  width: 80%;
  margin: 0 auto;
  margin-top: 17.5rem;
}
.skills-hobbies__container {    
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  justify-content: center;
}
.skills-hobbies__card {
  width: 50%;
}
.skills-hobbies__card--img {
  height: 6rem;  
  margin-bottom: 0.5rem;
}
.skills-hobbies__card--info {
  margin-bottom: 4rem;
}

.hobbies__main {
  margin-top: 2rem;
}

/* Educación */

.education {
  margin-top: 3rem;
}
.education__title {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 0;
}
.education__container {
  width: 100%;
  margin: 0 auto;
}
.education__container--cards {
  display: flex;
  align-items: center;
  text-align: start;
  width: 80%;
  max-width: 34rem;
  min-height: 10rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: solid 0.2rem var(--gray-light);
  border-radius: 1rem;
}
.education__container--card-img {
  width: 6rem;
  margin-right: 1.5rem;
}
.education__card--univesity {
  width: calc(100% - 6rem);
}
.education__container--card-year {
  font-size: 1.4rem;
}

/* Proyectos */

.projects {
  width: 100%;
  margin-top: 6rem;
  text-align: center;
}
.projects__container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem ;
  margin: 0 auto;
}
.projects__cards {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  width: 56rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
}
.projects__cards--img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.projects__cards--info {
  padding: 1.5rem;
}
.card__info--subtitle {
  color: var(--Green-light);
  font-weight: 900;
}
.card__info--description {
  text-align: center;
}
.card__info--pages {
  display: flex;
  justify-content: center;
  gap: 1rem ;
  margin-top: 2rem;
}
.info__pages--button {
  width: 12rem;
  font-size: 1.4rem;
  text-align: center;
  align-content: center;
}
.info__pages--button:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.info__pages--button img {
  height: 100%;
}
.info__pages--button:hover img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(3242%) hue-rotate(166deg) brightness(92%) contrast(106%);
}

/* Formulario */

.contact-form {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
}
.form-img__container {
  display: none;
}
.form-info__container {
  width: 80%;
  margin: 0 auto;  
}
.form__info {
  width: 100%;
  font-size: 1.5rem;
}
.form__group {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 2.5rem;
}
.form__group--input, .form__group--message {
  min-width: 25rem;
  max-width: 65rem;
  height: 4rem;
  border: solid 0.2rem var(--gray-light);
  border-radius: 1rem;
  margin: 0.5rem 0 1.5rem 0;
  padding: 0.8rem;
}
.form__group--input:focus, .form__group--message:focus {
  border-color: var(--Green-light);
  outline: none;
}
.form__group--message {
  height: 14rem;
  overflow-y: scroll;
  scrollbar-width: none;
  resize: none;
}
.form__group--sumit {
  margin: 1.5rem auto 0 auto;
}

/* footer */

.footer {
  width: 100%;
  height: 10rem;
  text-align: center;
  align-content: center;
  margin-top: 6rem;
  color: var(--background);
  background-color: var(--Green-light);
  border-top: solid 0.3rem var(--Green-light);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4); 
}
.footer__info {
  font-weight: 700;
}