:root {
  --primary-color: #111621;
  --secundary-color: #1e984b;
  --Green-light: #2ec866;
  --gray-color: #39424e;
  --black-color: #000000;
  --background: #edf0f1;
}

/*Elementos Globales*/

a {     
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  width: 100%;
  min-width: 360px;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  overflow: auto;
}

/* Elementos para varios lugares */

.button {
  padding: 1rem;  
  font-weight: 900;
  font-size: 1.8rem;
  background-color: var(--Green-light);
  border: none;
  border-radius: 0.5rem;
  color: var(--background);
}

/* Header - Navbar*/

.header {
  position: fixed;
  width: 100%;
  height: 7.5rem;
  background: var(--primary-color);
  color: var(--background);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
}
.nav {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  height: 100%;
  margin: 0 2rem;
}
.nav__logo {
  text-align: center;
}
.nav__logo--title{
  font-size: 1.6rem;
  font-weight:900;
  margin: 0;
  text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.8);
  color: var(--Green-light);
}
.nav__logo--concept {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.nav__logo--separator,
.nav__link__container,
.nav__media {
  display: none;
}
.nav__media--emailmovil {
  font-size: 1.2rem;
}

/* Información */

.main {
  width: 100%;
  padding-top: 7rem;
  text-align: center;
}
.information {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
.information__photo--img {
  width: 30rem;
}
.information__info {
  margin-top: 2rem;
}
.information__info--name, .about-me__title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--primary-color);
}
.information__info--name span {
  color: var(--secundary-color);
}
.information__info--description {
  width: 100%;
  font-size: 1.6rem;
  text-align: justify;
  color: var(--gray-color);
  margin-top: 2.5rem;
}
.information__info--button {
  margin-top: 3rem;
}

/* Sobre mí */

.about-me {
  margin: 5.5rem 0;
  padding: 1.5rem 0;
  background-color: var(--Green-light);
}
.about-me__title {
  text-align: start;
}
.about-me__title, .about-me__info {
  width: 80%;
  margin: 3rem auto;
  text-align: start;
  color: white;
}
.about-me__info {
  text-align: justify;
}