/* Elementos para varios lugares de la página */

.title {
  font-size: 3rem;
}
.info {
  font-size: 1.6rem;
}
.subtitle {
  font-size: 1.8rem;
}

/* Header - Navbar*/
  
.nav__media {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.nav__logo--title {
  font-size: 2rem;
} 
.nav__logo--concept {
  font-size: 1.6rem;
}
.nav__media__social {
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.2rem;
  margin-right: 1rem;
}
.social__github {
  background-image: url(/assets/icons/github-mark-white.svg);  
}
.social__linkedin {
  background-image: url(/assets/icons/linkedIn.svg);
}
.social__email {
  background-image: url(/assets/icons/email-icon.svg);
  cursor: auto;
}
.nav__media--email {
  display: flex;
  align-items: center;
  height: 7.5rem;
  border-bottom: var(--Green-light) solid 0.5rem;
}
.media__email {
  margin-top: 0.7rem;
}
.nav__media--emailmovil {
  display: none;
}

/* Información */

.information {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.information__photo {
  width: 35%;
}
.information__info {
  width: 65%;
  font-size: 1.6rem;
  margin-top: 0;
  margin-right: 4rem;
  text-align: start;
}

/* Sobre mí */

.about-me {
  padding: 2rem 0;  
}
.about-me__main {
  width: 90%;
  margin: 0 auto;  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.about-me__img {
  margin-right: 3rem;
}
.about-me__img--source {
  width: 30rem; 
  position: static;
  transform: none;
}

/* Skills */

.skills__main, .hobbies__main {
  width: 90%;
  margin-top: 6rem;
}
.hobbies__main {
  margin-top: 1.5rem;
}
.skills-hobbies__card {
  width: 33.3%;
}

/* Educación */

.education__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
.education__container--cards {
  width: 47%;
  margin: 1rem;
}

/* Formulario */

.form__info, .form-info__container {
  max-width: 65rem;
}
